*{
    font-family: Raleway ;
    margin: 0;
    padding: 0;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 17px;
}
body{
    margin: 30px;
    background-image:url(trybe.png);
    background-color: #2fc18c;
    background-repeat: no-repeat, repeat;
    background-position: left bottom;
    background-size: 1300px;
    
}
input{
    border-radius: 10px;
    color: black ;
    background-color: rgb(15, 227, 203);
    height: 20px;
    width: 60px;
    font-size: 14px;
}
h1{
    color: #51ffbf;
    font-family: Montserrat;
    margin: 10px;
    text-align: center;
    font-size: 21px;
}
#eu{
    margin-left: 11%;
    height: 80%;
    border-radius: 10%;
}
main{
    width: 600px;
    height: 1200px;
    margin: auto ;
}
#um{
    grid-column: 1/3;
    grid-row: 1/3;

}
#dois{
    grid-column: 3/6;
    grid-row: 1/3;
}
#tres{
    grid-column: 1/4;
    grid-row: 3/5 ;
}
#quatro{
    grid-column: 4/6;
    grid-row: 3/5;
}
#cinco{
    grid-column: 1/3;
    grid-row: 5/9
}
#seis{
    grid-column: 3/6;
    grid-row: 5/7;
}
#sete{
    grid-column: 3/6 ;
    grid-row: 7/9;
}
#oito{
    grid-column: 1/6 ;
    grid-row: 9/9;
}
.container{

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    gap: 10px;
}
h2{
    color: rgb(205, 112, 93);
    text-align: center;
}
article, footer{
    text-align: start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif ;
    color: #350f0fde;
    border-radius: 10px;
    padding: 10px;
}
ul{
    font-size: 20px;
    list-style-type: none;
    margin: 20px;
  }

li{
    margin-bottom: 10px ;
}
#florBotao{
    width: 20px;
    height: 20px;
}
.grid{
    background-color: #00000094;
}
#hello{
    color: #02442c;
    
}