@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
}

h1, h2, p, li {
  color: white;
}

img {
  max-width: 100%;
}

* {
  font-family: "M PLUS 2", sans-serif;
  font-weight: 320;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(130, 130, 130, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(130, 130, 130, 0.8);
  border-radius: 20px; 
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}